footer
    padding:0
    margin: 0

    background: blue
.social_icon
    width: 30px
    margin-right: 10px
.footer_section
    padding: 20px
    & > * 
        padding: 10px 0px
footer
    // position: absolute
    width: 100%
    // bottom: 0
