footer
    padding:0
    margin: 0

    background: blue
.social_icon
    width: 30px
    margin-right: 10px
.footer_section
    padding: 20px
    & > * 
        padding: 10px 0px
footer 
  background-color: #333333
  color: #ffffff
  padding: 20px
  box-sizing: border-box
  position: absolute
  bottom: -300px
  left:calc(-50vw - 11200px)
  width: 100vw

