@use 'base.sass' as base
header 
  background-color: #333
  color: #fff

//   text-align: center


.navbar 
  ul 
    list-style: none
    display: flex
    align-items: center
    padding: 15px

  li
    padding: 0 15px

    a
      font-size: base.$link
      transition: 0.3s
      &:hover
        color: red



.navbar
    display: flex
    align-items: center
    justify-content: space-between
    padding: 15px 40px
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)

a
    img.cart_icon
        width: 50px
        color: white



nav ul li a 
  color: #fff
  text-decoration: none

