


.navbar 
  display: flex
  align-items: center
  justify-content: center

  z-index: 2
  position: fixed
  width: 100%
  top: 0
  left: 0
  background-color: #144A7F

  ul 

    list-style: none
    display: flex
    align-items: center
    padding: 15px

    li
      padding: 0 15px

      a 
        color: white


        transition: 0.3s
        &:hover
          color: red

a
  img.cart_icon
    margin-left:25px
    width: 50px


