// .hero
//     background-image: url("../img/hero.jpg")
//     height: 90vh
//     width: 100%

//     background-size: cover
//     background-position: top 65% right 30%
//     display: flex
//     align-items: flex-start
//     justify-content: center
//     flex-direction: column
//     z-index: 1

//     h4
//         padding-bottom: 15px

.flex_main
    display: flex
    justify-content: center
.login
    width: 400px

.fieldset_login
    input
        width: 100%
.categories-wrapper
    display: flex
    justify-content: center // Add this line to center the content

.categories 
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between

.category 

    width: 200px
    height: 100px
    margin: 10px
    background-color: #3498db
    color: #fff
    text-align: center
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.5)
    transition: color 0.5s ease
    &:hover 
        color: red 
        box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.5)



