#product-grid
    height: 100%
    margin: 50px 25px

    display: grid
    grid-gap: 20px
    grid-auto-rows: max-content
    grid-template-columns: repeat(4,1fr)

.grid_item
    background-color: #e0e0e0  
    border: 1px solid #ccc   
    padding: 10px
    text-align: center

.grid_item:hover
    cursor: pointer


.product_image
    width: 100%
    padding: 20px